<launch>

  <!-- <node name="camera" pkg="camera_eden" type="camera_node.py" output="screen"/> -->

  <!-- <node name="button" pkg="button" type="button" output="screen"/> -->



<!-- Rate Limiter Node -->

  <node name="rate_limiter1" pkg="motors_eden" type="rateLimiteNode.py" clear_params="true" output="screen">
      <param name="id" value="1" />
      <param name="rate_limit" value="3.14/2" />
  </node>

  <node name="rate_limiter2" pkg="motors_eden" type="rateLimiteNode.py" clear_params="true" output="screen">
      <param name="id" value="2" />
      <param name="rate_limit" value="3.14/2" />
  </node>

  <node name="rate_limiter3" pkg="motors_eden" type="rateLimiteNode.py" clear_params="true" output="screen">
      <param name="id" value="3" />
      <param name="rate_limit" value="3.14/2" />
  </node> 
  
  <node name="rate_limiter4" pkg="motors_eden" type="rateLimiteNode.py" clear_params="true" output="screen">
      <param name="id" value="4" />
      <param name="rate_limit" value="3.14/2" />
  </node>



  <!-- <node name="joy" pkg="joy" type="joy_node" output="screen"/> -->

  <!-- <node name="kinematics" pkg="kinematics" type="kinematics" output="screen"/> -->

  <!-- <node name="motors" pkg="motors_eden" type="motorsNode.py" output="screen"/> -->

</launch>
