<launch>

  <node name="camera" pkg="camera_eden" type="follow_node.py" output="screen"/>

  <node name="aa_servoing" pkg="aa_servoing" type="aa_servoing" output="screen"/>

  <node name="inverse_kinematics" pkg="inverse_kinematics" type="inverse_kinematics" output="screen"/>

  <node name="rate_limiter2" pkg="rate_limiter2" type="rate_limiter2" output="screen"/>

  <node name="motors" pkg="motors_eden" type="motorsNode.py" output="screen"/>

</launch>
